
#root {
  width: 100%;
  max-width: 420px;         
  margin: 0 auto;
  padding: 0;               
  text-align: center;
  min-height: 100vh;
}

@font-face {
  font-family: "Kapakana";
  src: url("/fonts/Kapakana-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: #ffffff;
}